@charset 'UTF-8';
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.no-ml{
  margin-left: 0!important;
}
body {
  width: 10rem;
  margin:0 auto;
}
header{
  padding: 0.5625rem 0.3125rem;
}
.logo{
  width: 2.6875rem;
  height: 0.71875rem;
  float: left;
  margin-top: 0.46875rem;
}
.name {
  width: 5.3125rem;
  border-left: 1px solid #aaaaaa;
  float: left;
  padding-left: 0.15625rem;
  margin-left: 0.15625rem;
}
.name h2{
  font-size: 0.4375rem;
}
.name p{
  font-size: 0.34375rem;
}
.banner img{
  display: block;
  width: 100%;
}
.s1{
  background:#f3f3f3;
  padding: 0.3125rem 0 0.625rem;
}
.s-titl{
  width: 9.0625rem;
  border-bottom: 1px solid rgb( 232, 226, 218 );
  line-height: 1.40625rem;
  margin:0 auto;
  font-size: 0.5625rem;
  color: rgb( 30, 72, 133 );
  font-weight: bold;
  text-align: center;
  position: relative;
}
.s-titl span{
  color: #f33828;
}
.s-titl em{
  display: block;
  width: 1.09375rem;
  height: 0.09375rem;
  background-color: rgb( 197, 140, 58 );
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}
.s-subt{
  font-size: 0.40625rem;
  color: rgb( 101, 53, 0 );
  font-weight: bold;
  text-align: center;
  line-height: 1.09375rem;
}
.s-subt span{
  color: #f33828;
}
.s1-ul{
  padding: 0 0.78125rem;
}
.s1-li{
  width:4.0625rem;
  background-color: rgb( 211, 228, 253 );
  padding: 0.3125rem 0.15625rem;
  float: left;
  margin:0.390625rem 0 0 0.3125rem;
}
.s1-li h2{
  font-size: 0.375rem;
  color: rgb( 36, 80, 143 );
  text-align: center;
  font-weight: bold;
}
.s1-li h2 span{
  display: inline-block;
  width: 1.25rem;
  background: url(../images/yd_03.png) no-repeat center;
  background-size: contain;
  font-size: 0.3125rem;
  color: rgb( 255, 255, 255 );
  line-height:0.46875rem;
  text-align: center;
  font-weight: bold;
}
.s1-li h3{
  font-size: 0.3125rem;
  color: rgb( 30, 72, 133 );
  font-weight: bold;
  text-align: center;
  line-height: 1.09375rem;
}
.s1-li h3 span{
  color: #f33828;
}
.s1-li p {
  font-size: 0.3125rem;
  color: #585345;
  text-align: left;
  line-height: 0.5625rem;
  height: 1.5625rem;
  overflow : hidden;
}
.s1-li a{
  display: block;
  background-color: rgb( 243, 67, 52 );
  margin:0.3125rem auto 0;
  font-size: 0.34375rem;
  color: #fff;
  text-align: center;
  line-height: 0.625rem;
}
.s-btn {
  display: block;
  width: 6.25rem;
  height: 1.046875rem;
  border-radius: 0.078125rem;
  background-color: rgb( 243, 67, 52 );
  margin:0.78125rem auto 0.625rem;
  font-size: 0.46875rem;
  color: #fff;
  text-align: center;
  line-height: 1.046875rem;
}
.s2{
  background: #fa2828;
  padding: 0.3125rem 0.78125rem 0.703125rem;
}
.s2 h2{
  font-size: 0.5625rem;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-align: center;
  line-height: 1.40625rem;
}
.s2-div {
  width: 8.34375rem;
  padding: 0.46875rem 0.3125rem;
  border-radius: 0.078125rem;
  background-color: rgb( 233, 9, 9 );
  box-shadow: 1px 1.732px 8px 0px rgb( 89, 3, 3 );
  font-size: 0.375rem;
  color: #fff;
  text-align: left;
  line-height: 0.75rem;
}
.s2-div em{
  font-style: normal;
  font-weight: bold;
  font-size: 0.5625rem;
}
.s2-div span{
  color: #fff100;
}
.s2-quota{
  width: 5.390625rem;
  height: 1.5625rem;
  margin:0 auto;
  border-bottom: 1px solid #ffffff;
  font-size: 0.375rem;
  color: #fff;
  text-align: center;
  padding-top: 0.625rem;
}
.s2-quota span{
  font-size: 0.78125rem;
  color: #fff100;
  margin:0 0.3125rem;
}
.s2-btn{
  background: #921c12;
  margin:0.625rem auto 0!important;
}
.s3{
  padding: 0.3125rem 0;
}
.s3-dead{
  font-size: 0.40625rem;
  color: #c58c3a;
  text-align: center;
  line-height: 1.09375rem;
}
.s3-time{
  text-align: center;
  margin-top: 0.3125rem;
}
.s3-time span{
  display: inline-block;
  width: 1.734375rem;
  height: 1.8125rem;
  background-color: rgb( 34, 107, 206 );
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
  line-height: 1.8125rem;
}
.date {
  margin-left: 0.78125rem;
}
.s3-tips{
  width: 9.0625rem;
  border-radius: 0.078125rem;
  border:2px dashed rgb( 64, 100, 151 );
  margin:0.9375rem auto 0;
  padding: 0.15625rem 0;
}
.s3-tips h2,.s3-tips p {
  float: left;
}
.s3-tips h2{
  font-size: 0.46875rem;
  color: #1e4885;
  width: 1.25rem;
  padding-left: 0.15625rem;
}
.s3-tips p {
  width: 7.65625rem;
  font-size: 0.40625rem;
  color: #1e4885;
  border-left: 1px solid #8ea3c2;
  line-height: 0.6875rem;
  padding-left: 0.15625rem;
  overflow: hidden;
}
.s3-tips p span{
  color: #fa2828;
}
.iframe-container3 {
  height:130px;
}
.s4-dls{
  padding-top: 0.15625rem;
}
.s4-dl{
  width: 8.09375rem;
  height: 0.9375rem;
  background: #f0f0f0;
  margin:0.3125rem auto 0;
}
.s4-dd1{
  width: 1.4375rem;
  height: 0.640625rem;
  margin-top: 0.15625rem;
  background-color: rgb( 145, 143, 153 );
  font-size: 0.28125rem;
  color: #fff;
  text-align: center;
  line-height: 0.640625rem;
  float: left;
}
.s4-dd2{
  width: 4.765625rem;
  padding: 0 0.15625rem 0 0.3125rem;
  font-size: 0.375rem;
  text-align: left;
  line-height: 0.9375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.s4-dd3{
 width: 1.875rem;
 height: 0.9375rem;
 background-color: rgb( 209, 32, 32 );
 font-size: 0.375rem;
 color: #fff;
 text-align: center;
 line-height: 0.9375rem;
 float: right!important;
}

.s5-ul{
  padding: 0 0.625rem;
}
.s5-li{
  width: 4.0625rem;
  border:1px solid rgb( 229, 226, 223 );
  margin: 0.625rem 0 0 0.625rem;
  float: left;
}
.s5-li img{
  width: 100%;
  display: block;
}
.s5-li-titl{
  width: 2.8125rem;
  margin:0 auto; 
  font-size: 0.34375rem;
  color: rgb( 72, 72, 72 );
  text-align: center;
  line-height: 0.6875rem;
  font-weight: bold;
  border-bottom: 1px solid #259948;
  position: relative;
}
.s5-li-titl em{
  width: 0.421875rem;
  height: 0.0625rem;
  background-color: rgb( 37, 153, 72 );
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}
.s5-li-text{
    font-size: 0.375rem;
    color: rgb( 52, 52, 52 );
    text-align: center;
    padding: 0.15625rem 0;
    line-height: 0.5625rem;
}
.s5-li-text span{
  color: #fa2828;
}
.s6{
  height: 8.5rem;
  background: url(../images/yd_08.jpg) no-repeat center;
  background-size: contain;
}
.s6-titl{
  font-size: 0.5625rem;
  color: #1e4885;
  font-weight: bold;
  line-height: 1.875rem;
  text-align: center;
}
.s6-btn{
  margin-top: 5.0rem;
}
.s7{
  padding: 0.46875rem 0 0.625rem;
  background: #f3f3f3;
}
.s7-titl{
    line-height: 0.78125rem;
    padding: 0.3125rem 0;
}
.s7-ul{
  padding: 0 1.171875rem;
}
.s7-li{
  width: 2.21875rem;
  height: 2.5rem;
  border:1px solid rgb( 184, 184, 184 );
  border-radius: 0.078125rem;
  text-align: center;
  color: #6d4000;
  padding: 0 0.15625rem;
  float: left;
  margin:0.78125rem 0 0 0.46875rem;
}
.s7-li h2{
  border-bottom: 1px solid #dadada;
  font-size: 1.09375rem;
  line-height: 1.71875rem;
}
.s7-li p{
  font-size: 0.375rem;
  padding-top: 0.125rem;
}
.s3-dead span{
  color: #f33828;
}
.s8-ul{
  padding: 0 0.3125rem;
}
.s8-li{
  width: 2.78125rem;
  background:#e6e6e6;
  margin:0.625rem 0 0 0.46875rem;
  float: left;
}
.s8-li img{
  display: block;
  width: 100%;
}
.s8-li p{
  font-size: 0.3125rem;
  text-align: center;
  color: #1a242e;
  padding:0.15625rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.s8-li p span{
  color: #1e4885;
}
.s9-items{
  padding: 0 0.75rem;
}
.s9-items a{
  display: block;
  width: 2.59375rem;
  height: 0.75rem;
  border:1px solid rgb( 147, 185, 248 );
  border-radius: 0.078125rem;
  float: left;
  margin:0.375rem 0 0 0.3125rem;
  font-size: 0.375rem;
  color: #528ff3;
  text-align: center;
  line-height: 0.75rem;
}
a.s9-item7{
  margin-left: 1.5625rem;
}
.s10-subt{
  text-align: center;
}
.s10-subt span{
  font-size: 0.375rem;
  display: inline-block;
  padding-left: 0.46875rem;
  background: url(../images/yd_20.png) no-repeat left;
  background-size: 0.375rem;
}
.s9-ul {
  padding: 0 0.3125rem;
}
.s9-li{
  width: 2.9375rem;
  border:1px dashed rgb( 32, 74, 134);
  border-bottom: none;
  border-radius: 0.078125rem;
  padding-bottom: 0.3125rem;
  margin:0.3125rem 0 0 0.28125rem;
  float: left;
}
li.s9-li3{
  float: right;
}
.s9-li h2{
  background-color: rgb( 32, 74, 134 );
  border-radius: 0.078125rem;
  font-size: 0.375rem;
  text-align: center;
  color: #fff;
  line-height:0.75rem;
}
.s9-li p{
  padding: 0 0.15625rem 0 0.625rem;
  background: url(../images/yd_21.png) no-repeat 0.15625rem;
  background-size: 0.390625rem;
  font-size: 0.3125rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0.46875rem;
  margin-top: 0.3125rem;
}
.s10-ubot{
  width: 9.375rem;
  margin:0 auto;
  background-color: rgb( 32, 74, 134 );
  font-size: 0.3125rem;
  color: rgb( 255, 254, 0 );
  text-align: center;
  padding: 0.15625rem 0;
}
.s11 img{
  display: block;
  width: 100%;
  margin-top: 0.625rem;
}
.s12-ul{
  padding: 0 0.3125rem;
}
.s12-li{
  width: 2.890625rem;
  float: left;
  margin:0.625rem 0 0 0.3125rem; 
}
.s12-li img{
    display: block;
    width: 100%;
}
.s12-li h2{
  font-size: 0.4375rem;
  color: #1e4885;
  text-align: center;
  line-height: 0.84375rem;
}
.s12-li p {
  height: 0.75rem;
  background-color: rgb( 208, 60, 46 );
  border-radius: 0.03125rem;
  font-size: 0.3125rem;
  color: #fff;
  text-align: center;
  line-height:0.75rem;
  padding: 0 0.15625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.s13{
  width: 100%;
  height: 7.078125rem;
  background: url(../images/yd_29.jpg) no-repeat center;
  background-size: contain;
  padding: 0.625rem 0.3125rem 0.78125rem;
}
.s13 h2{
  font-size:0.5625rem;
  color: #fff;
  text-align: center;
}
.s13 h1{
  font-size: 0.9375rem;
  color: #fff;
  text-align: center;
  line-height: 3.125rem;
  border:1px solid #fff;
  border-top: none;
  margin-top: 0.9375rem;
  position: relative;
}
.s13-span{
  display: block;
  font-style: normal;
  width: 100%;
  height: 0.625rem;
  line-height: 0.625rem;
  font-size: 0.5625rem;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top:-0.3125rem;
}
.s13-span em{
  display: block;
  width: 0.46875rem;
  height: 1px;
  background: #fff;
  position: absolute;
  top:0.3125rem;
}
.s13-e1 {
  left: 0;
}
.s13-e2 {
  right: 0;
}
.copyright {
  font-size: 0.375rem;
  color: #000;
  line-height: 1.046875rem;
  text-align: center;
  margin-bottom: 60px;
}
/*底部滚动信息*/
.fot-scroll {
  width: 10rem;
  background:#ccc;
  border: 1px solid #ccc;
  height: 60px;
  position: fixed;
  left: 50%;
  margin-left: -5rem;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}
.fot-scroll #div1{
 height:60px;
 overflow:hidden;
}
.fot-scroll #div1 a{
 display:block;/*这个属性是必须的*/
 font-size:14px;
 line-height:60px;
 text-decoration:none;
 color:#333;
 font-family:Arial;
 width: 6rem;
 padding-left: 0.3125rem;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 box-sizing: border-box;
}
.fot-btn {
  position: absolute;
  right: 0.3125rem;
  top:10px;
  width: 3.125rem;
  display: block;
  height: 40px;
  border-radius: 0.078125rem;
  /*background-color:skyblue;*/
  background-color: rgb( 243, 67, 52 );
  font-size: 14px;
  color: rgb( 255, 255, 255 );
  line-height: 40px;
  text-align: center;
}
