@charset 'UTF-8';
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
body {
  width: 100%;
  max-width: 640px;
  min-width: 300px;
  margin:0 auto;
}
.iframe-wrap1{
  height: 100px;
}
.s7{
  padding: 0 10% 10px;
}
.s7-subt{
  font-size: 16px;
  padding: 10px 0 5px;
  color: #000;
}
.s7-select p{
  width: 45%;
  margin-top: 8px;
  float: left;
}
.s7-select span{
  margin-left: 10px;
  font-size: 16px;
}
.iframe-wrap2{
  height: 130px;
}
.copyright {
  font-size: 14px;
  text-align: center;
  color: #000;
  padding: 10px 0;
}