.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.no-ml{
	margin-left: 0!important;
}
.no-mt{
	margin-top: 0!important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*悬浮框csss tart*/
.suspend {
  position: fixed;
  z-index:1500;
  width: 150px;
  height: 500px;
}
.suspend-left{
 background:url(../images/sh_38_01.png) no-repeat center;
 padding-top: 20px;
}
.suspend-left h3{
  font-size: 20px;
  color: rgb( 255, 255, 255 );
  text-align:center;
  margin-bottom: 54px;
}
.suspend-left p{
 margin: 9px auto;
 width: 134px;
 background:url(../images/sh_38_02.png) no-repeat center;
 font-size: 14px;
 color: rgb( 255, 255, 255 );
 line-height: 37px;
 text-align: center;
 cursor: pointer;
 position: relative;
 left: 0;
 transition: all 0.4s;
}
.suspend-left p:hover{
  color: yellow;
  left: 50px;
}
.sus-right-logo{
  width: 110px;
  height: 116px;
  margin:0 auto;
  background: url(../images/sh_39_01.png) no-repeat center;
}
.suspend-right p{
  width: 130px;
  border: 2px solid rgb( 23, 74, 149 );
  border-radius: 10px;
  background: #fff;
  font-size: 16px;
  color: rgb( 233, 71, 24 );
  line-height: 30px;
  text-align: center;
  margin: 8px auto;
  cursor: pointer;
  position: relative;
}
.suspend-right p:before{
  content: "";
  display: block;
  width: 26px;
  height: 10px;
  background: url(../images/sh_39_02.png) no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -13px;
  top:-10px;
}
.suspend-right p:hover{
 color: #fff;
 background: rgb( 233, 71, 24 );
 border-color: rgb( 233, 71, 24 );
}
.suspend-close {
  cursor: pointer;      
  width: 30px;
  height: 30px;
  background: url(../images/sh_39_03.png) no-repeat center;
  background-size: 17px;
  position: absolute;
  top: 0;
  right: 0;
}
.suspend-right{
  right: 5px;
  top:130px;
}
.suspend-left{
  left: 5px;
  top:130px;
}
/*悬浮框css ending*/
/*循环弹窗 ending*/
.popup{
  width: 800px;
  height: 500px;
  position: fixed;
  left: 50%;
  margin-left: -400px;
  top: 15%;
  z-index: 9999;
  display: none;
}
.popup1,.popup4{
  background: url(../images/sh_40.png) no-repeat center;
  padding: 160px 150px 130px 175px;
}
.popup1-txt h2{
  font-size: 24px;
  color: rgb( 224, 26, 58 );
  text-align: center;
  line-height: 60px;
}
.popup1-dl dd{
  font-size: 22px;
  color: rgb( 224, 26, 58 );
  line-height: 30px;
  margin:15px 0 0 30px;
  float: left;
  cursor: pointer;
}
.popup1-dl dd:hover{
  color: #ffad26;
}
.popup1-as{
 padding: 0 10px;
}
.popup1-as a{
  width: 180px;
  border: 3px solid rgb( 226, 27, 59 );
  font-size: 20px;
  color: rgb( 224, 26, 58 );
  text-align: center;
  line-height: 34px;
  border-radius: 20px;
  margin-top: 20px;
  background: none;
}
.popup1-as a:first-child{
   background: rgb( 226, 27, 59 );
   color: #fff; 
}
.popup-close{
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}
.popup-close1,.popup-close4{
    right: 125px;
    top: 75px;
    background: url(../images/sh_39_03.png) no-repeat center;
}
.pop-horn{
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  right: 175px;
  top: 105px;
  background: url(../images/sh_40_1.gif) no-repeat center;
  background-size: contain; 
}
.popup2,.popup5{
  background: url(../images/sh_41.png) no-repeat center;
  padding: 140px 140px 70px;
}
.popup2-txt-item{
  position: relative;
  margin-top: 10px;
}
.popup2-txt-item span{
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: rgb( 255, 0, 0 );
  font-size: 30px;
  color: rgb( 255, 255, 255 );
  line-height: 41px;
  text-align: center;
  position: absolute;
  left: -25px;
}
.popup2-txt-item p{
  width: 392px;
  font-size: 24px;
  color: rgb( 255, 0, 0 );
  font-weight: bold;
  line-height: 39px;
  border-bottom: 1px solid #e26a6a;
  padding-left: 20px;
}
.popup2-txt-item a{
  width: 126px;
  background-color: rgb( 255, 0, 0 );
  font-size: 24px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-align: center;
  line-height: 39px;
  border-bottom: 1px solid rgb( 255, 0, 0 );
}
.popup2-txt-item a:hover{
  background: #ffad26;
  border-bottom: 1px solid #ffad26;
}
.popup-close2,.popup-close5{
  right: 122px;
  top: 95px;
}
.popup3,.popup6{
  background: url(../images/sh_42.png) no-repeat center;
  padding: 30px 125px 50px;
}
.popup3-txt h2{
  font-size: 24px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 70px;
}
.popup3-txt h2 span{
  color: #fffc00;
}
.popup3-li{
  width: 181px;
  height: 157px;
  background:url(../images/sh_42_01.png) no-repeat center;
  float: left;
  margin-top: 15px;
  padding: 30px 0 25px;
  cursor: pointer;
  transition: all 0.8s;
}
.popup3-li:hover{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.popup3-li h3{
  font-size: 20px;
  color: rgb( 255, 255, 255 );
  text-align: center;
}
.popup3-li p{
  font-size: 20px;
  color: #fffc00;
  text-align: center;
  margin-top: 46px;

}
.popup-close3,.popup-close6{
  right: 65px;
  top: 45px;
}
/*循环弹窗 ending*/
/*animate css设置延迟时间*/
.s-step1{
 -webkit-animation-delay: 0.01s;
 -ms-animation-delay: 0.01s;
 -o-animation-delay: 0.01s;
 -moz-animation-delay: 0.01s;
 animation-delay: 0.01s;
}
.s-step2{
  -webkit-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.s-step3{
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.s-step4{
  -webkit-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/*animate css设置延迟时间*/
.container{
	width: 1000px;
	margin:0 auto;
}
header{
	height: 65px;
  padding: 5px 0;
}
.head-btn{
	width: 211px;
	border-radius: 10px;
	background-color: rgb( 230, 0, 18 );
	font-size: 16px;
	color: rgb( 255, 255, 255 );
	line-height: 34px;
	text-align: center;
	margin-top: 10px;
}
.head-btn:hover{
background: #f19149;
}
nav{
	background-color: rgb( 218, 65, 60 );
}
.nav-container{
	padding: 0 20px;
}
nav a{
  width: 160px;
  float: left;
  font-size: 20px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 61px;
  border-bottom: 5px solid rgb( 164, 0, 0 );
}
nav a.active{
	border-bottom: 5px solid #eb6100;
	background: #f19149;
}
.banner{
	height: 550px;
}
.swiper-container1{
	height: 100%;
}
.swiper-button-prev{
  left: 200px;
}
.swiper-button-next{
  right: 200px;
}
.swiper-pagination-bullet{
  width: 14px;
  height: 14px;
  opacity: 1;
  background:#fff;
}
.swiper-pagination-bullet-active{
  background: #007aff;
}
.swiper-slide1{
	background: url(../images/sh_02.jpg) no-repeat center;
	background-size: cover;
}
.swiper-slide2{
	background: url(../images/sh_03.jpg) no-repeat center;
	background-size: cover;
}
.swiper-slide3{
	background: url(../images/sh_04.jpg) no-repeat center;
	background-size: cover;
}
.ban-pic1{
  width: 685px;
  height: 102px;
  margin: 40px auto;
}
.ban-txt1{
  position: relative;
}
.ban-txt1-item{
  width: 225px;
  height: 225px;
  padding: 7px;
  border: 3px dashed rgb( 255, 255, 255 );
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}
.ban-txt1-item:hover{
  border: 3px dashed rgba(241, 26, 38, 0.4);
}
.ban-txt1-item:hover p{
  background-color: rgba(241, 26, 38, 0.4);
  font-weight: bold;
}
.ban-txt1-item p{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgb( 255, 255, 255);
  font-size: 18px;
  color: #000;
  text-align: center;
  line-height: 36px;
  padding: 50px 35px;
}
.ban-txt1-item1{
  left: 60px;
  top: 85px;
}
.ban-txt1-orn{
  display: block;
  position: absolute;
}
.ban-txt1-orn1{
  width: 103px;
  height: 40px;
  background:url(../images/sh_02_02.png) no-repeat center;
  right: -100px;
  top: 30px;
}
.ban-txt1-orn2{
  width: 105px;
  height: 52px;
  background:url(../images/sh_02_03.png) no-repeat center;
  right: -110px;
  top: 90px;
}
.ban-txt1-item2{
  left: 390px;
  top: 0;
}
.ban-txt1-item3{
  left:710px;
  top: 82px;
}
.s-btn{
  width: 414px;
  margin:0 auto;
  border-radius: 10px;
  background: rgb( 230, 0, 18 );
  font-size: 22px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 70px;
}
.s-btn:hover{
	background: #f19149;
}
.ban-btn1{
  margin-top: 286px;
}
.ban-btn1:hover{
  background: #f29149;
}
.ban-pic2{
  width: 754px;
  height: 114px;
  margin: 40px auto;
}
.ban-txt2-as{
  float: left;
  margin-left: 125px;
  position: relative;
}
.ban-txt2-as a{
  width: 245px;
  border: 3px solid rgb( 242, 145, 73 );
  font-size: 24px;
  color: rgb( 51, 51, 51 );
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}
.ban-txt2-as a:hover{
  background: rgb( 242, 145, 73 );
  color: #fff;
}
a.ban-txt2-a2{
  line-height: 78px;
  margin-top: 18px;
}
.ban-btn2{
  margin-top: 76px;
}
.ban-txt2-ring{
  display: block;
  width: 24px;
  height: 32px;
  background:url(../images/sh_03_02.png) no-repeat center;
  position: absolute;
}
.ban-txt2-ring1{
  left: 35px;
  top:50px;
}
.ban-txt2-ring2{
  left: 190px;
  top:50px;
}
.ban-btn2{
  background: #f29149
}
.ban-btn2:hover{
  background: rgb( 230, 0, 18 );
}
.ban-pic3{
  width: 685px;
  height: 114px;
  margin: 40px auto 30px;
}
.ban-txt3{
  padding: 0 75px;
  position: relative;
}
.ban-txt3-item{
  width: 150px;
  float: left;
  margin-left: 200px;
  position: relative;
  cursor: pointer;
}
.ban-txt3-item:hover span{
  background: #ffff00;
}
.ban-txt3-item:hover p{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ban-txt3-item1{
  margin-top: 88px;
}
.ban-txt3-item h3{
  font-size: 24px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 34px;
}
.ban-txt3-item span{
  display: block;
  width: 21px;
  height: 21px;
  margin:10px auto;
  border-radius: 50%;
  background-color: rgb( 255, 255, 255 );
}
.ban-txt3-item p{
  width: 148px;
  height: 123px;
  font-size: 24px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  transition: all 1.5s;
}
.ban-txt3-item1 p{
 background: url(../images/sh_04_02.png) no-repeat center;
 padding: 35px 5px 0;
}
.ban-txt3-item2 p{
 background: url(../images/sh_04_03.png) no-repeat center;
 padding: 24px 5px 0;
}
.ban-txt3-line{
  width: 100%;
  height: 6px;
  background: rgb( 255, 255, 255 );
  position: absolute;
  left: 0;
  top: 140px;
}
.ban-btn3{
  position: relative;
  top: -42px;
  background:#ffff00;
  color: #000;
}
.ban-btn3:hover{
	color: #fff;
  background: rgb( 218, 65, 60 );
}
/*banner ending*/
section{
	padding: 30px 0 20px;
}
.s-titl{
  height: 40px;
  margin: 20px auto;	
}
.s-xkjy{
	width: 276px;
	height: 45px;
	margin:0 auto;
	background: url(../images/sh_05.png) no-repeat center;
}
.s1-remind{
  width: 727px;
  height: 136px;
  margin: 25px auto;
  background: url(../images/sh_06.png) no-repeat center;
  background-size: contain;
}
.s-txt{
  font-size: 20px;
  color: rgb( 51, 51, 51 );
  text-align: center;
  line-height: 40px;
}
.s-txt span{
	color: #e60012;
}
.s1-txt{
	font-size: 22px;
	padding: 0 140px;
}
.s1-btns .s-btn{
	width: 300px;
	float: left;
	margin:20px 0 0 50px;
}
.s-deadline{
	font-size: 22px;
  color: #e60012;
  text-align: center;
  line-height: 40px;
}
.iframe-container1{
  height: 75px;
  margin-top: 20px;
}
.s1-ps span{
	font-weight: bold;
	font-size: 28px;
}
.s2{
 background:url(../images/sh_07.jpg) no-repeat center;
 background-size: cover;
 background-attachment: fixed;
}
.s2-titl{
  background: url(../images/sh_08.png) no-repeat center;
}
.s2-items{
	padding: 0 20px;
}
.s2-items a{
	width: 192px;
	height: 49px;
	background: url(../images/sh_09.png) no-repeat center;
	background-size: contain;
	font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 49px;
  float: left;
  margin: 20px 0 0 190px;
}
.s2-items a:hover{
  color: #f99b54;
}
.s2-btn{
	color: #fff;
	background: none;
	border:1px solid #fff;
	line-height: 50px;
	margin-top: 30px;
}
.s2-entrance h2{
	font-size: 22px;
	color: rgb( 255, 244, 92 );
  text-align: center;
  line-height: 50px;
}
.s2-entrance{
	padding: 0 60px;
}
.s2-entrance a{
	width: 80px;
	line-height: 40px;
	font-size: 22px;
	color: rgb( 255, 244, 92 );
  text-align: center;
  float: left;
  margin-left: 120px;
}
.s2-entrance a:hover{
 color: rgb(249, 155, 84);
}
.s3-titl{
	background: url(../images/sh_10.png) no-repeat center;
}
.s3-items{
	padding: 0 70px;
}
.s3-item{
	width: 140px;
	height: 141px;
	float: left;
	margin-left: 100px;
	margin-top: 40px;
	transition: all 0.8s;
  background: url(../images/sh_11.png) no-repeat center;
  text-align: center;
  cursor: pointer;
}
.s3-items div:first-child{
	margin-left: 120px;
}
.s3-item:hover{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.s3-item h3{
  font-size: 22px;
  color: rgb( 51, 51, 51 );
  text-align: center;
  line-height: 74px;
  font-weight: bold;
}
.s3-item p{
  font-size: 18px;
  color: rgb( 255, 255, 255 );
}
.s3-btn{
	margin-top: 40px;
}
.s4{
	background: url(../images/sh_19.jpg) no-repeat center;
	background-size: cover;
}
.s4-titl{
	width: 727px;
	height: 37px;
	margin:20px auto;
	background: url(../images/sh_18.png) no-repeat center;
	background-size: contain;
}
.s4-li{
	width: 266px;
  height: 266px;
  border: 1px solid rgb( 23, 74, 149 );
  border-radius: 50%;
  padding-top: 38px;
  position: relative;
  float: left;
  margin: 80px 0 0 85px;
}
.s4-orbs{
	width: 1px;
	height: 1px;
	background: red;
	position: absolute;
	left: 50%;
	top:50%;
}
.s4-orb{
	width: 73px;
	height: 73px;
	border-radius:50%;
	background-color: rgb( 23, 74, 149 );
  padding: 10px 15px;
  position: absolute;
  -webkit-animation: clockwise 50s linear infinite;
  -moz-animation: clockwise 50s linear infinite;
  -ms-animation: clockwise 50s linear infinite;
  -o-animation: clockwise 50s linear infinite;
  animation: clockwise 50s linear infinite;
  cursor:pointer;
}
.s4-more{
  background-color: rgb(241, 26, 38);
}
/*第1个li的4个圆位置*/
.s4-orb1{
  left: -20px;
  top: -168px;
  transform-origin: 20px 168px;
}
.s4-orb2{
  left: -172px;
  top:-50px;
  transform-origin: 172px 50px;
}
.s4-orb3{
  left: -65px;
  top:94px;
  transform-origin: 65px -94px;
}
.s4-orb4{
  left: 95px;
  top: 0px;
  transform-origin: -95px 0;
  padding: 10px;
}
/*第2个li的4个圆位置*/
.s4-orb5{
  left: -177px;
  top:-35px;
  transform-origin: 177px 35px;
}
.s4-orb6{
  left: -45px;
  top: -170px;
  transform-origin: 45px 170px;
}
.s4-orb7{
  padding: 15px 8px;
  left: 95px;
  top: -55px;
  transform-origin: -95px 55px;
}
.s4-orb8{
  left: -25px;
  top: 95px;
  transform-origin: 25px -95px;
  padding: 10px;
}
/*第3个li的4个圆位置*/
.s4-orb9{
  left: -85px;
  top: -165px;
  transform-origin: 85px 165px;
}
.s4-orb10{
  left: 86px;
  top:-92px;
  transform-origin: -86px 92px;
}
.s4-orb11{
  left: 55px;
  top: 65px;
  transform-origin: -55px -65px;
}
.s4-orb12{
  left: -155px;
  top: 30px;
  transform-origin: 155px -30px;
  padding: 10px;
}
.s4-orb span{
	display: block;
	font-size: 18px;
	color: rgb( 255, 255, 255 );
	text-align: center;
	-webkit-animation: anti-clockwise 50s linear infinite;
	-moz-animation: anti-clockwise 50s linear infinite;
	-ms-animation: anti-clockwise 50s linear infinite;
	-o-animation: anti-clockwise 50s linear infinite;
	animation: anti-clockwise 50s linear infinite;
}
@keyframes clockwise {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes clockwise {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes anti-clockwise {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes anti-clockwise {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/*公共停止的类start*/
.s4-orb.orb-stop,.s4-orb.orb-stop span{
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
.s4-orb{
  transition: all 0.8s
}
.s4-orb.active{
  background: red;
}
/*公共停止的类ending*/
.s4-pic{
  width: 189px;
  height: 189px;
  margin:0 auto;
  border:1px solid rgb( 255, 255, 255 );
  border-radius: 50%;
  padding-top: 140px;
  overflow: hidden;
}
.s4-pic1{
  background: url(../images/sh_20.png) no-repeat center;
}
.s4-pic2{
  background: url(../images/sh_21.png) no-repeat center;
}
.s4-pic3{
  background: url(../images/sh_22.png) no-repeat center;
}
.s4-pic p{
  width: 100%;
  background-color: rgb( 23, 74, 149 );
  font-size: 18px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 35px;
}
.s4-txt{
 margin-top: 50px;
}
.s4-btns{
	padding: 0 30px;
}
.s4-btns a{
	width: 380px;
	margin-top:25px; 
}
.s5-titl{
  background: url(../images/sh_23.png) no-repeat center;
}
.s5-dls{
  width: 960px;
  margin:-15px auto 0;
  border: 2px solid rgb( 0, 104, 183 );
  background: #fff;
  padding: 15px 20px 15px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
.s5-lace{
  width: 976px;
  height: 30px;
  border: 5px solid rgb( 23, 74, 149 );
  border-radius: 15px;
  margin: 0 auto;
}
.s5-dl dt{
  width: 180px;
  font-size: 22px;
  line-height:57px;
  text-align: right;
  float: left;
  margin-top: 28px;
}
.s5-dl dd{
  width: 155px;
  font-size: 22px;
  color: rgb( 255, 255, 255 );
  line-height:57px;
  text-align: center;
  float: left;
  margin: 28px 0 0 30px;
}
.s5-dl dd:hover{
	opacity: 0.8;
	color: #000;
}
dd.s5-jsj{
	height: 57px;
	line-height: 24px;
  padding: 5px 15px;
}
.s5-dt1{
  color: #174a95;
}
.s5-dt2{
  color: #f22613;
}
.s5-dt3{
  color: #ffad26;
}
.s5-dt4{
  color: #09af8a;
}

.s5-dd1-1{
  background:#83a9d6;
}
.s5-dd1-2{
  background:#729ac9;
}
.s5-dd1-3{
  background:#6090ca;
}
.s5-dd1-4{
  background:#4f84c4;
}
/*第1行dd*/
.s5-dd2-1{
  background:#f66759;
}
.s5-dd2-2{
  background:#f55142;
}
.s5-dd2-3{
  background:#f33b2a;
}
.s5-dd2-4{
  background:#f22613;
}
/*第2行dd*/
.s5-dd3-1{
  background:#ffc567;
}
.s5-dd3-2{
  background:#ffbd51;
}
.s5-dd3-3{
  background:#ffb53b;
}
.s5-dd3-4{
  background:#ffad26;
}
.s5-dd4-1{
  background:#52c7ad;
}
.s5-dd4-2{
  background:#3abfa1;
}
.s5-dd4-3{
  background:#21b795;
}
.s5-dd4-4{
  background:#09af8a;
}
.s5-btn{
	width: 480px;
	margin-top: 20px;
}
/*s5 ending*/
.s6{
	background: url(../images/sh_24.jpg) no-repeat center;
  background-size: cover;
}
.s6-titl{
  background: url(../images/sh_25.png) no-repeat center;
}
.s6-items{
	padding: 30px 30px 10px;
}
.s6-item:hover .s6-item-btn{
  color: rgb( 29, 32, 136 );
}
.s6-item-cir{
  width: 243px;
  height: 243px;
  border-radius: 50%;
  border: 3px solid rgb( 29, 32, 136 );
  position: relative;
}
.s6-arrow{
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/sh_26.gif) no-repeat center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: -35px;
}
.s6-item-cir h3{
 width: 180px;
 border-bottom: 1px solid rgb( 29, 32, 136 );
 margin:0 auto;
 font-size: 22px;
 color: rgb( 230, 0, 18 );
 text-align: center;
 line-height: 66px;
 position: relative;
}
.s6-item-cir h3:before{
  content: "";
  display: block;
  width: 62px;
  height: 6px;
  background-color: rgb( 230, 0, 18 );
  position: absolute;
  left: 50%;
  margin-left: -31px;
  bottom: 0;
}
.s6-item-cir p{
  font-size: 22px;
  color: rgb( 51, 51, 51 );
  text-align: center;
  line-height: 36px;
  margin-top: 15px;
}
.s6-item-btn{
  font-size: 22px;
  color: rgb( 230, 0, 18 );
  font-weight: bold;
  text-align: center;
  text-indent: 20px;
  margin-top: 30px;
  cursor: pointer;
}


.s6-xin{
  width: 454px;
  font-size: 22px;
  color: rgb( 23, 74, 149 );
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  margin-top: 60px;
}
.s6-xin span{
  font-size: 36px;
  color: rgb( 230, 0, 18 );
}
.s6-txt{
	font-size: 18px;
}
.s6-txt span{
	font-size: 20px;
	cursor: pointer;
}
.s6-txt span:hover{
	font-weight: bold;
}
.s7-titl{
  background: url(../images/sh_28.png) no-repeat center;
}
.s7-magnifier{
	width: 725px;
	height: 320px;
	margin:30px auto 20px;
	background: url(../images/sh_29.png) no-repeat center 57px;
	position: relative;
}
.s7-magnifier p{
  width: 157px;
  height: 52px;
  border: 2px dashed rgb( 23, 74, 149 );
  font-size: 22px;
  color: rgb( 51, 51, 51 );
  text-align: center;
  line-height: 52px;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  transition: all 1.2s;
}
.s7-magnifier p:hover{
	background: rgb( 23, 74, 149 );
	color: #fff;
}
.s7-effect1 {
  left: 0;
  top: 160px;
}
.s7-effect2 {
  left: 58px;
  top: 60px;
}
.s7-effect3 {
  left: 187px;
  top: 0;
}
.s7-effect4 {
  left: 380px;
  top: 0;
}
.s7-effect5 {
  left: 510px;
  top: 70px;
}
.s7-effect6 {
  left: 560px;
  top: 150px;
}
.s8{
	background: url(../images/sh_30.jpg) no-repeat center;
	background-size: cover;
}
.s8-titl{
 background: url(../images/sh_31.png) no-repeat center;
}
.s8-items{
	padding: 0 20px;
}
.s8-item{
	width: 440px;
	background-color: rgba( 255, 255, 255,0.52 );
	border-radius: 10px;
	font-size: 22px;
	font-weight: bold;
	color: rgb( 23, 74, 149 );
	text-align: center;
	line-height: 80px;
	float: left;
	margin: 25px 0 0 80px;
  border: 3px dashed transparent;
}
.s8-item:hover{
	color: rgb( 230, 0, 18 );
  border: 3px dashed #f11a26;
}
.s8-subt{
  background: url(../images/sh_32.png) no-repeat center;
}
.s8-bold{
	font-weight: bold;
}
.s9-titl{
	background: url(../images/sh_33.png) no-repeat center;
}
.s9-ul{
	padding: 0 90px;
 margin-top: 40px;
}
.s9-li{ 
  width: 120px;
  border:2px dashed rgb( 236, 105, 65 );
  float: left;
  margin-left: 55px;
  cursor: pointer;
}
.s9-li:hover h3{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  background:rgb( 230, 0, 18 );
} 
.s9-li:hover{
	border-color:rgb( 230, 0, 18 ); 
}
.s9-li1{
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  padding-top:10px;	
  margin-top: 60px;
}
.s9-li2{
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  padding-bottom: 10px;	
}
.s9-li h3{
	width: 98px;
	height: 98px;
	border-radius: 50%;
	border: 1px solid rgb( 23, 74, 149 );
	background-color: rgb( 255, 159, 0 );
  font-size: 22px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  transition: all 0.8s;
}
.s9-li p{
	font-size: 18px;
	color: rgb( 51, 51, 51 );
	text-align: center;
	padding: 10px;
}
.s9-li1 p{
	height: 80px;
 padding: 5px 10px;
}
.s9-li2 p{
	height: 70px;
}
.s9-btn{
 width: 480px;
 margin-top: 50px;
}
.s10{
	background: url(../images/sh_34.jpg) no-repeat center;
	background-size: cover;
}
.s10-titl{
	background: url(../images/sh_35.png) no-repeat center;
}

.s10-dl{
 width: 850px;
 background-image: -moz-linear-gradient( 90deg, rgb(194,232,239) 0%, rgb(211,243,249) 75%, rgb(236,249,251) 100%);
 background-image: -webkit-linear-gradient( 90deg, rgb(194,232,239) 0%, rgb(211,243,249) 75%, rgb(236,249,251) 100%);
 background-image: -ms-linear-gradient( 90deg, rgb(194,232,239) 0%, rgb(211,243,249) 75%, rgb(236,249,251) 100%);
 border: 1px solid rgb( 79, 132, 196 );
 border-radius: 10px;
 margin:25px auto 0;
 padding: 5px;
}
.s10-dl dt{
  width: 597px;
  border: 1px solid rgb( 79, 132, 196 );
  background-color: rgb( 255, 255, 255 );
  font-size: 22px;
  color: rgb( 51, 51, 51 );
  line-height: 53px;
  padding-left: 20px;
  cursor: default;
}
.s10-dl dd{
  width: 221px;
  height: 55px;
  font-size: 22px;
  background: #4f84c4;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 55px;
  cursor: pointer;
}
.s10-dl dd:hover{
	background: rgb( 255, 159, 0 );
}
.s11{
	background: url(../images/sh_37.jpg) no-repeat center;
	background-size: cover;
	padding-bottom: 35px;
}
.s11-titl{
	height: 108px;
	background: url(../images/sh_36.png) no-repeat center; 
}
.s11-li {
  width: 300px;
  height: 213px;
  border: 3px dashed rgb( 255, 255, 255 );
  border-radius: 10px;
  float: left;
  margin: 20px 0 0 50px;
  cursor: default;
}
.s11-li h3{
  width: 250px;
  margin:0 auto;
  font-size: 28px;
  color: rgb( 255, 255, 255 );
  line-height: 88px;
  text-align: center;
  border-bottom: 2px solid #fff;
}
.s11-li p{
  font-size: 20px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 40px;
  padding: 20px 0;
}
footer{
  background: #535353;
  padding: 30px 0;
  margin-bottom: 100px;
}
footer p{
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  text-align: center;
}
/*bot-fixed*/
.bot-fixed{
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  box-sizing: border-box;
  z-index:1000;
}
.bot-main {
  width: 1000px;
  margin: 0 auto;
}
.bot-text {
  float: left;
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
}
.bot-text span{
 color: yellow;
}
.bot-msg {
  width: 750px;
  height: 60px;
  float: left;
  margin: 10px 0 0 40px;
}