@charset 'UTF-8';
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
body{
  max-width: 640px;
  height: auto;
  margin: 0px auto;
}
.content img{
  width: 100%;
  display: block;
}
.copyright{
  background: #404040;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 60px;

}
/*底部滚动信息*/
.fot-scroll {
  cursor: pointer;
  width: 100%;
  max-width: 640px;
  min-width: 300px;
  background:#ccc;
  border: 1px solid #ccc;
  height:60px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
}
.fot-scroll #div1{
 height:60px;
 overflow:hidden;
}
.fot-scroll #div1 a{
 display:block;/*这个属性是必须的*/
 font-size:14px;
 line-height:60px;
 text-decoration:none;
 color:#333;
 font-family:Arial;
 width: 60%;
 padding-left:10px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 box-sizing: border-box;
}
.fot-btn {
  position: absolute;
  right: 20px;
  top:10px;
  width:30%;
  display: block;
  height: 40px;
  border-radius: 5px;
  background-color:skyblue;
  font-size: 16px;
  color: rgb( 255, 255, 255 );
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}
