.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.no-ml{
	margin-left: 0!important;
}
.noml{
	margin-left: 0!important;
}
.no-mt{
	margin-top: 0!important;
}
.no-border{
	border: none!important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*animate css设置延迟时间*/
.s-step1{
	-webkit-animation-delay: 0.01s;
	-ms-animation-delay: 0.01s;
	-o-animation-delay: 0.01s;
	-moz-animation-delay: 0.01s;
	animation-delay: 0.01s;
}
.s-step2{
	-webkit-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.s-step3{
	-webkit-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.s-step4{
	-webkit-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-o-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}
.container{
	width: 1226px;
	margin:0 auto;
}
.xm-top{
	display: block;
	height: 120px;
	background: #264693  url(../images/xm_01.jpg) no-repeat center;
	background-size: 1226px;
	display: none;
}
.site-topbar{
	background: #333;
	height: 40px;
}
.topbar-nav,.topbar-info{
	margin-top: 12px;
}
.topbar-nav a,.topbar-info a{
	color: #b0b0b0;
	font-size: 12px;
	border-left: 1px solid #424242;
	padding: 0 5px;
	float: left;
}
.topbar-nav a:hover{
	color: #fff;
}
.topbar-cart{
	width: 120px;
	height: 40px;
	background: #4c4a4a;
	position: relative;
	margin-left: 15px;
}
.topbar-cart a{
	display: block;
	color: #b0b0b0;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
}
.topbar-cart:hover .cart-menu{
	display: block;
}
.cart-menu{
	width: 320px;
	height: 100px;
	background: #ffffff;
	position: absolute;
	right: 0;
	top: 40px;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	display: none;
}
.cart-menu p{
	font-size: 14px;
	color: #333;
	text-align: center;
	line-height: 100px;
}
.xm-logo{
	width: 56px;
	height: 56px;
	float: left;
	margin: 22px 0;
}
nav{
	position: relative;
	z-index: 1000;
}
.nav-full{
    border-top: 1px solid #d5d2d2;
    background: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
}
.nav-container{
	position: relative;
}
.nav-item{
	float: left;
}
.nav-item.active>a{
  color: #ff6700;
}
.nav-children{
    position: absolute;
    left: 0px;
    top: 100px;
}
.nav-list{
	float: left;
	margin-left: 170px;
}
.nav-item a{
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 100px;
	padding: 0 10px;
}
.item-children{
	width: 100%;
	height: 200px;
	border: 1px solid red;
	position: absolute;
	left: 0;
	top: 100px;
}
.children-item{
	float: left;
	width: 205px;
	text-align: center;
	padding-bottom: 20px;
}
.child-new{
	width: 66px;
	height: 24px;
	margin: 0 auto;
	font-size: 16px;
	color: #ff6700;
	line-height: 24px;
	border: 1px solid #ff6700;
}
.child-pic{
	margin-top: 15px;
	border-left: 1px solid #cfcfcf;
}
.child-name{
	margin-top: 15px;
}
.banner-container{
	position: relative;
}
.side-cates{
	width: 235px;
	height: 460px;
	background: rgba(0,0,0,0.6);
    padding: 20px 0;
	position: absolute;
	left: 0;
	top:0;
	z-index: 2;
}
.side-cate{
	height: 42px;
}
.side-cate>a{
	font-size: 16px;
    color: #fff;
    line-height: 42px;
    padding-left: 25px;
    position: relative;
}
.side-cate>a:before{
	content: ">";
	display: block;
    font-size: 20px;
    color: #fff;
    line-height: 42px;
    position: absolute;
    right: 10px;
    top: 0;
}
.side-cate:hover{
	background: #ff6700;
}
.cate-children{
    height: 460px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 25px;
    position: absolute;
    left: 235px;
    top: 0;
}
.children-col{
	width: 250px;
}
.children-name{
	font-size: 16px;
    color: #000;
    line-height: 42px;
}
.children-btn{
	width: 60px;
	border: 1px solid #ff8f43;
	font-size: 14px;
	color: #ff8f43;
	text-align: center;
	line-height: 24px;
	margin-top: 8px;
}
.children-col li{
	margin-top: 40px;
	cursor: pointer;
}
.children-col li:hover p{
   color: #ff6700;
}
.children-col li a:hover{
	background: #ff6700;
	color: #fff;
}
.swiper-container1 .swiper-pagination-bullet{
	width: 16px;
	height: 16px;
	background: #f8f8f8;
    opacity: 1;
}
.swiper-container1 .swiper-pagination-bullet-active{
	opacity: 1;
    background: #007aff;
}
.swiper-container1 .swiper-button-prev{
	left: 260px;
}
.swiper-container1 .swiper-pagination{
    left: auto;
    right: 0;
    width: 80%;
}
.site-s0{
	margin-top: 15px;
}
.s0-channels{
	width: 235px;
	height: 170px;
	background: #5e5650;
	padding: 10px;
}
.s0-channels a{
	width: 71px;
	height: 76px;
	font-size: 14px;
	color: #fff;
	float: left;
	text-align: center;
	padding-top: 15px;
}
.s0-channels i{
	display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
.bor-right{
	border-right: 1px solid #665e56;
}
.bor-bottom{
	border-bottom: 1px solid #665e56;
}
.s0-promos{
	width: 991px;
}
.s0-promo{
	width: 316px;
	height: 170px;
	float: left;
	margin-left: 14px;
}
.s-active{
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);	
}
.s-titl{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.s1-li{
	width: 234px;
	height: 300px;
	background: #fafafa;
	float: left;
	margin-left: 14px;
}
.curBor1{
	border-top:1px solid #ffac12;
}
.curBor2{
	border-top:1px solid #83c44e;
}
.curBor3{
	border-top:1px solid #2195f3;
}
.curBor4{
	border-top:1px solid #e53935;
}
.curBor5{
	border-top:1px solid #00c0a5;
}
.s1-li a{
	padding-top: 30px;
}
.s1-li img{
	width: 160px;
	height: 160px;
	margin: 0 auto;
}
.s1-li p{
   font-size: 14px;
   color: #000;
   text-align: center;
   line-height: 24px;
}
.s1-arrows{
	width: 70px;
	height: 24px;
	position: absolute;
	right: 0;
	top:0;
}
.swiper-container2{
	padding-top: 40px;
}
.s1-arrows a{
    width: 35px;
    height: 24px;
    border: 1px solid #e0e0e0;
    float: left;
    text-align: center;
    color: #000;
    font-size: 22px;
    line-height: 24px;
}
.swiper-container2 .swiper-button-prev{
    width: 35px;
    height: 24px;
    background-size: contain;
    left: auto;
    right: 35px;
    top: 23px;
}
.swiper-container2 .swiper-button-next{
    width: 35px;
    height: 24px;
    background-size: contain;
    left: auto;
    right: 0;
    top: 23px;
}
.site-s1{
	margin-top: 50px;
}
.s1-titl{
	position: absolute;
	line-height: 1;
}
.site-s2{
	background: #f5f5f5;
}
.s2-bar{
	width: 214px;
	height: 614px;
}
.s2-bar img{
	height: 614px;
}
.swiper-container3{
	width: 980px;
	height: 614px;
	float: right;
}
.s2-li{
	width: 234px;
	height: 300px;
	background: #ffffff;
	float: left;
	margin: 10px 0 0 10px;
}
.s2-li a{
	padding-top: 25px;
}
.s2-li p{
    color: #333;
	text-align: center;
	line-height: 30px;
}
.s2-name{
	font-size: 14px;
}
.s2-desc{
	font-size: 12px;
}
.s2-price{
	font-size: 14px;
}
.s2-li img{
	width: 150px;
    height: 150px;
    margin: 0 auto;
}
.s2-tabs{
	position: absolute;
	right: 0;
    top: -40px;
	z-index: 2;
}
.s2-tabs a{
    width: 60px;
    height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	border: 1px solid red;
}
.s2-tabs a.active2{
	color: red;
}
.s2-div{
	position: relative;
}