.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.no-ml{
	margin-left: 0!important;
}
.no-mt{
	margin-top: 0!important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*animate css设置延迟时间*/
.s-step1{
  -webkit-animation-delay: 0.01s;
  -ms-animation-delay: 0.01s;
  -o-animation-delay: 0.01s;
  -moz-animation-delay: 0.01s;
  animation-delay: 0.01s;
}
.s-step2{
  -webkit-animation-delay: 0.05s;
  -ms-animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
/*animate css设置延迟时间*/
.container{
  width: 1000px;
  margin:0 auto;
}
header{
  height: 90px;
}
.head-btn{
   width: 260px;
  border-radius: 10px;
  background-color: rgb( 247, 119, 28 );
  font-size: 18px;
  color: rgb( 255, 255, 255 );
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
}
nav{
   background-color: rgb( 0, 0, 0 );
   box-shadow: 0px 0px 0px 0px rgb( 0, 0, 0 );
   height: 110px;
}
.nav-list{
  padding: 0 2px;
}
.nav-list li{
  width: 166px;
  float: left;
  position: relative;
  z-index:10;
}
.nav-list>li>a{
  font-size: 22px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height:100px;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  background: url(../images/sh_02.png) no-repeat left center;
}
.no-bg{
  background: none!important;
}
.nav-list>li:hover>a{
  color: rgb( 247, 119, 28 );
  border-top:5px solid rgb( 247, 119, 28 );
  border-bottom:5px solid rgb( 247, 119, 28 );
}
.slideDown {
  width: 156px;
  background: #333333;
  position: absolute;
  left: 5px;
  top: 110px;
  display: none;
}
.slideDown a{
  font-size: 16px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  border-top: 2px solid #fff;
}
.slideDown a:hover{
  background: #999999;
}
.banner{
  height: 550px;
}
.swiper-slide1{
  background: url(../images/sh_03.jpg) no-repeat center;
  background-size: cover;
  padding: 30px 0 50px;
}
.s-edu{
  width: 244px;
  height: 45px;
  margin: 0 auto;
  background: url(../images/sh_04.png) no-repeat center;
  font-size: 18px;
  font-weight: bold;
  color: rgb( 255, 0, 0 );
  text-align: center;
  line-height: 45px;
}
.s-yel{
  color: #f7771c;
}
.ban-titl{
  font-size: 62px;
   color: rgb( 0, 0, 0 );
   font-weight: bold;
   line-height: 130px;
   text-align: center;
}
.ban1-txt{
  padding: 0 150px;
}
.ban1-pic{
  width: 201px;
  height: 150px;
  float: left;
}
.ban1-ps{
  float: right;
}
.ban1-ps p{
  font-size: 24px;
  color: rgb( 0, 0, 0 );
  line-height: 48px;
  padding-left: 35px;
  background: url(../images/sh_06.png) no-repeat left center;
}
.ban-btn{
  width: 640px;
  height: 100px;
  background-color: rgb( 247, 119, 28 );
  box-shadow: 2px 3px 8px 1px rgb( 140, 58, 0 );
  border-radius: 10px;
  font-size: 32px;
  color: rgb( 255, 255, 255 );
  text-align: center;
  line-height: 100px;
  margin: 45px auto 0;
}
.swiper-slide2{
   background: url(../images/sh_07.jpg) no-repeat center;
  background-size: cover;
  padding: 30px 0 50px;
}
.ban2-ps{
  padding:0 110px;
}
.ban2-ps p{
  width: 260px;
  font-size: 26px;
  color: rgb( 0, 0, 0 );
  line-height: 40px;
  text-align: center;
  padding-bottom: 30px;
  background: url(../images/sh_08.png) no-repeat bottom;
  float: left;
}
.s1{
  padding: 30px 0 40px;
}
.s-titl{
  font-size: 36px;
  color: rgb( 0, 0, 0 );
  line-height: 76px;
  text-align: center;
  background: url(../images/sh_09.jpg) no-repeat center;
  position: relative;
  margin-top: 20px;
}
.s-titl:before{
  content: "";
  display: block;
  width: 3000px;
  height: 2px;
  background: #000;
  position: absolute;
  left: -3000px;
  top:0;
}
.s-titl:after{
  content: "";
  display: block;
  width: 3000px;
  height: 2px;
  background: #000;
  position: absolute;
  right: -3000px;
  bottom: 0;
}
.s1-warn{
  width: 869px;
  height: 369px;
  margin: 50px auto 0;
  font-size: 24px;
  color: rgb( 0, 0, 0 );
  line-height:44px;
  text-indent: 2em;
  padding: 80px 80px 80px 260px;
  background: url(../images/sh_10.png) no-repeat center;
}
.s1-txt{
  padding: 0 40px 0 40px;
  margin-top: 45px;
}
.s1-time{
  float: left;
  position: relative;
}
.s1-time span{
    display: inline-block;
    width: 157px;
    height: 100px;
    background: url(../images/sh_11.png) no-repeat center;
    font-size: 70px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    letter-spacing: 40px;
    padding: 0 15px;
    margin-left: 50px;
}
.s1-time em{
  width: 157px;
  font-size: 24px;
  color: #000;
  text-align: center;
  line-height: 60px;
  position: absolute;
  bottom: -60px;
}
.en-month{
  left: 0;
}
.en-date{
  left: 213px;
}
.s1-end{
  width: 500px;
  float: right;
}
.s1-endp{
   font-size: 22px;
   color: rgb( 0, 0, 0 );
   line-height: 44px;
   padding-left: 60px;
   position: relative;
}
.s1-endp:before{
  content: "提醒：";
  font-size: 22px;
   color: rgb( 0, 0, 0 );
   position: absolute;
   left: 0;
   top:0;
}
.s1-enda{
  width: 204px;
  height: 45px;
  border: 3px solid rgb( 247, 119, 28 );
  font-size: 22px;
  color: rgb( 247, 119, 28 );
  text-align: center;
  line-height: 42px;
  margin: 10px auto 0;
} 
.s1-enda span{
  color: #ff0000;
  text-decoration: underline;
}
.s1-buts{
  padding: 0 20px;
}
.s1-but{
  width: 310px;
  height: 80px;
  font-size: 22px;
  line-height: 80px;
  margin-left: 15px;
  float: left;
}
.s2{
  height: 839px;
  background: url(../images/sh_12.jpg) no-repeat center;
  background-size: cover;
  padding: 30px 0 90px;
}
.s2-items{
  padding: 0 50px;
}
.s2-item{
 width: 260px;
 height: 60px;
  font-size: 24px;
   color: rgb( 0, 0, 0 );
   line-height: 60px;
   border: 2px solid #000;
   position: relative;
   padding-left: 80px;
   float: left;
}
.s2-icon{
  width: 50px;
  height: 50px;
  background:#f8f8f8 url("../images/sh_13.png") no-repeat center;
  position: absolute;
  left: 20px;
  top:-25px;
}
.s2-icon1{
  
}
.专业考试科目 {
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: rgb( 0, 0, 0 );
  line-height: 2;
  text-align: justifyCenter;
  text-indent: 20px;
  position: absolute;
  left: 586px;
  top: 1959.422px;
  z-index: 822;
}





.仅剩17个名额 {
  font-size: 18px;
  font-family: "AdobeHeitiStd";
  color: rgb( 247, 119, 28 );
  line-height: 0.889;
  text-indent: 20px;
  position: absolute;
  left: 1138.437px;
  top: 1482.531px;
  z-index: 913;
}

.矩形_6 {
  border-width: 3px;
  border-color: rgb( 247, 119, 28 );
  border-style: solid;
  position: absolute;
  left: 1090px;
  top: 1450px;
  width: 204px;
  height: 45px;
  z-index: 912;
}


.提醒：2017年最后一次报名即将截止_望各大考生规避_____________新教改政策_抢注 {
  font-size: 18px;
  font-family: "AdobeHeitiStd";
  color: rgb( 0, 0, 0 );
  line-height: 0.889;
  text-indent: 20px;
  position: absolute;
  left: 983.219px;
  top: 1395.578px;
  z-index: 911;
}



.针对成人学历提升_2018年即将施行新教改_成人学历提升学制将变为_专三本四__即可能面临高等 {
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: rgb( 0, 0, 0 );
  line-height: 2;
  text-align: left;
  text-indent: 20px;
  position: absolute;
  left: 779px;
  top: 1102.422px;
  width: 536px;
  height: 169px;
  z-index: 905;
}



.上海市成人学历教育提升直招预报名入口 {
  font-size: 36px;
  font-family: "Microsoft YaHei";
  color: rgb( 0, 0, 0 );
  line-height: 1.333;
  text-align: justifyCenter;
  text-indent: 20px;
  position: absolute;
  left: 613px;
  top: 910.133px;
  z-index: 901;
}

..一考双证_增长积分_落户上海_ {
  font-size: 26px;
  font-family: "Microsoft YaHei";
  color: rgb( 0, 0, 0 );
  line-height: 0.615;
  text-align: justifyCenter;
  text-indent: 20px;
  -moz-transform: matrix( 0.99939138934178,0,0,1,0,0);
  -webkit-transform: matrix( 0.99939138934178,0,0,1,0,0);
  -ms-transform: matrix( 0.99939138934178,0,0,1,0,0);
  position: absolute;
  left: 643.2px;
  top: 435.207px;
  z-index: 970;
}


.圆角矩形_1 {
  border-radius: 10px;
  background-color: rgb( 247, 119, 28 );
  box-shadow: 0px 5px 5px 5px rgb( 140, 58, 0 );
  position: absolute;
  left: 639px;
  top: 603px;
  width: 641px;
  height: 99px;
  z-index: 1004;
}


.点击了解更多学历提升政策 {
  font-size: 32px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  line-height: 0.938;
  text-align: right;
  text-indent: 20px;
  position: absolute;
  left: 753px;
  top: 667.563px;
  z-index: 1006;
}




.圆角矩形_1 {
  border-radius: 10px;
  background-color: rgb( 247, 119, 28 );
  box-shadow: 0px 5px 5px 5px rgb( 140, 58, 0 );
  position: absolute;
  left: 639px;
  top: 603px;
  width: 641px;
  height: 99px;
  z-index: 1004;
}

.在职上班族_1年制课程考专本学历 {
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: rgb( 0, 0, 0 );
  line-height: 1.25;
  text-align: right;
  text-indent: 20px;
  position: absolute;
  left: 876.958px;
  top: 444.422px;
  z-index: 999;
}


.提升学历_你更应该看重什么 {
  font-size: 62px;
  font-family: "Microsoft YaHei";
  color: rgb( 0, 0, 0 );
  font-weight: bold;
  line-height: 0.774;
  text-align: justifyCenter;
  text-indent: 20px;
  position: absolute;
  left: 514.17px;
  top: 351.658px;
  z-index: 998;
}




._7_18Hrs免费在线咨询 {
  font-size: 18px;
  font-family: "Microsoft YaHei";
  color: rgb( 255, 255, 255 );
  line-height: 0.889;
  text-align: justifyCenter;
  text-indent: 20px;
  position: absolute;
  left: 1225px;
  top: 52.566px;
  z-index: 1090;
}



.圆角矩形_1053 {
  border-radius: 5px;
  background-color: rgb( 247, 119, 28 );
  position: absolute;
  left: 1200px;
  top: 18px;
  width: 260px;
  height: 51px;
  z-index: 1089;
}





















































footer{
  background: #383838;
  height: 80px;
  margin-bottom: 80px;
  display: none;
}
.copyright{
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 80px;
}
/*box-fixed start*/
.bot-fixed{
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,0.8);
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  box-sizing: border-box;
  z-index:1000;
  display: none;
}
.bot-main {
  width: 1000px;
  margin: 0 auto;
}
.bot-text {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
}
.bot-plan{
  color: yellow;
  font-size: 20px;
}
.bot-plan span {
 font-size: 20px;
}
.bot-msg {
  width: 700px;
  height: 45px;
  margin: 10px 0 0 40px;
}
/*box-fixed ending*/